default: &default
  adapter: postgresql
  encoding: unicode
  host: localhost
  pool: 5
  timeout: 5000

development:
  <<: *default
  database: e_shop_development

production:
  <<: *default
  database: e_shop_production
  username:
  password:

#test:
#  <<: *default
#  database: e_shop_test