<h2>Order Items</h2>

<div class="row">
  <ol>
    <% @order_items.each do |order_item| %>
      <li>
        <%= order_item.product.name %>
        <%= link_to 'remove', order_item_path(order_item), method: :delete, data: {confirm: 'Are you sure?'} %>
      </li>
    <% end %>
  </ol>
</div>